<div class="container_big-card">
    <div class="big-card_photo">
        <img 
            src="https://i.ytimg.com/vi/KE5w5cViilc/maxresdefault.jpg" 
            alt=""
            height="200px"            
            srcset=""
        >
    </div>
    <div class="big-card_title">
        <h1><a href="#">Nova versão do Angular</a></h1>
    </div>
    <div class="big-card_description">
        <p><a href="#">Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></p>
    </div>
</div>
