<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card
        Id="4"
        photoCover="https://hermes.dio.me/tracks/cover/e368a057-14e3-472b-aea2-deacfd79f491.png"
        cardTitle="Mais um bootcamp finalizado"
        cardDescription="Bootcamp do Banco Santander voltado para programação Backend finalizado em tempo recorde."
        >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            Id="3"
            photoCover="https://hermes.dio.me/tracks/cover/30278db5-1581-46e2-b04d-42070420b880.png"
            cardTitle="Santander Bootcamp Ciência de dados ainda não finalizado"
        >
        </app-small-card>

        <app-small-card
            Id="2"
            photoCover="https://hermes.dio.me/tracks/cover/e6e24580-c0f5-4a60-8845-9ff0f34c26a5.png"
            cardTitle="Bootcamp Santander Angular prestes a ser finalizado"
        >
        </app-small-card>
        
        <app-small-card
            Id="1"
            photoCover="https://hermes.dio.me/tracks/cover/73314792-501e-4c02-a9aa-12bbe872526d.png"
            cardTitle="Backend? Será que este bootcamp nos dará uma oportunidade?"
        >
        </app-small-card>
    </div>
</div>